body {
    margin: 0;
    font-family: 'poppins';
    font-size: 18px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F3645;
}

h1 {
    margin: 0;
    font-size: 30px;
    color: white;
}

h2 {
    margin-bottom: 5px;
    margin-top: 10px
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    background-color: hsl(221, 19%, 63%);
    color:#2F3645;
    width: 85%;
    padding: 15px;
    border-radius: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
}

#calc {
    width: 40%;
    padding: 12px;
    align-self: center;
    font-size: 18px;
    background-color: #2F3645;
    color: #EEEDEB;
    font-family: 'poppins';
    font-weight: 600;
    border: none;
    border-radius: 15px;
}

#calc:active {
    background-color: hsl(221, 19%, 33%);
}

input {
    height: 1.7rem;
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'poppins';
    background-color: #EEEDEB;
    border: 2px solid #2F3645;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.calculated {
    background-color: hsl(221, 19%, 73%);
}

.calculated::placeholder {
    color: #EEEDEB;
}

@media (min-width: 500px) {
    .container {
        width: 450px;
    }
}